# Dependências
node_modules/

# Produção (Vite)
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema e IDE
.vscode/
.DS_Store
Thumbs.db

# Husky (diretório gerado pelo `husky` install)
.husky/_